/*
* Sean Anteau Style Sheet
* www.seananteau.com
* About module
*/

.about-me { background-color: $color-jeep-blue; color: $color-white; padding: 0 0 40px 0;
    .section-title { margin: 20px 0; }
    &-img { width: 100%; height: auto; display: block;
        &-wrapper { width: 200px; height: 200px; border-radius: 200px; overflow: hidden; float: left; margin: 0 20px 0 0; }
    }
    &-copy { overflow: hidden; }
    &-name { margin: 0 0 20px 0; }
}
