/*
* Sean Anteau Style Sheet
* www.seananteau.com
* Experiences module
*/

.experiences {
    &-item { color: $color-white; overflow: hidden; padding: 10px; margin: 0 0 20px 0; background-color: $gray-base; background-color: rgba($gray-base,0.5); border-radius: $border-radius-large;
        @media only screen and (min-width: $screen-sm-min){
            padding: 20px;
        }
        &-title { margin: 0 0 5px; padding: 0; }
        &-link { display: block; }
        &-time { display: block; color: rgba($color-white, 0.75); }
        &-img { display: block; width: 100%; height: auto; margin: 20px 0 0 0;
            &-wrapper{ float: left; width: 25%; max-width: 100px; margin: 0 20px 0 0; }
        }
        &-copy { margin: 20px 0 0 0; }
    }
}
