/*
* Sean Anteau Style Sheet
* www.seananteau.com
* Skills module
*/

.skills                         { color: $color-white; padding: 20px 0 40px 0;
    .clearfix                   {
        @media only screen and (min-width: $screen-lg-min){
            clear: none;
        }
    }
    &-list                      { list-style: none; padding-left: 10px;
        &-title                 {}
        &-item                  { margin: 0 0 10px 0;
            &-link              { display: inline-block; margin: 0 0 0 5px;
                &:before        { color: rgba($color-white,0); @include transition(color $transition-default-speed $transition-default-timing); }
                &:hover         { text-decoration: none;
                    &:before    { color: rgba($color-jeep-blue,1) !important; }
                }
            }
            &:hover {
                .skills-list-item-link:before { color: rgba($color-white,1); }
            }
        }
        &-sub       {}
    }
}
